@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* add the code bellow */
@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

svg {
  pointer-events: none;
}

/* Palette */

:root {
  /* gray */
  --xi-gray-0: #ffffff;	
  --xi-gray-5: #f7f7f7;
  --xi-gray-10: #e8e8e8;
  --xi-gray-20: #cfcfcf;
  --xi-gray-30: #b8b8b8;
  --xi-gray-40: #9f9f9f;
  --xi-gray-50: #888888;
  --xi-gray-60: #707070;
  --xi-gray-70: #585858;
  --xi-gray-80: #404040;
  --xi-gray-90: #282828;
  --xi-gray-100: #101010;

  /* brand */
  --xi-brand-0: #edefff;
  --xi-brand-20: #b4bdff;
  --xi-brand-40: #8f9cff;
  --xi-brand-60: #697bff;
  --xi-brand-80: #445aff;
  --xi-brand-100: #3546bd;

  /* background */
  --xi-bkgd-main: #edefff;
  --xi-bkgd-block: #ffffff;

  /* moscow */
  --xi-red-0: #fce9e9;
  --xi-red-20: #f19e9e;
  --xi-red-40: #eb6e6d;
  --xi-red-60: #e43d3d;
  --xi-red-80: #dd0d0c;
  --xi-red-100: #be0d0c;

  /* ekaterinburg */
  --xi-green-0: #e4f6e9;
  --xi-green-20: #99dcab;
  --xi-green-40: #66cb80;
  --xi-green-60: #33b956;
  --xi-green-80: #00a82c;
  --xi-green-100: #029127;

  /* kungur */
  --xi-orange-0: #fce8de;
  --xi-orange-20: #f7bc9e;
  --xi-orange-40: #f49a6e;
  --xi-orange-60: #f0793e;
  --xi-orange-80: #ec570e;
  --xi-orange-100: #cb4c0e;

  /* arkhangelsk */
  --xi-yellow-20: #fff5d7;
  --xi-yellow-40: #ffebaf;
  --xi-yellow-60: #ffe187;
  --xi-yellow-100: #ffcd37;

  /* vladivostok */
  --xi-violet-20: #efdffb;
  --xi-violet-40: #cd9cf3;
  --xi-violet-60: #b46bed;
  --xi-violet-100: #8208e1;

  /* volgograd */
  --xi-pink-20: #fbe0f8;
  --xi-pink-40: #f19de9;
  --xi-pink-60: #eb6bde;
  --xi-pink-100: #dd09c8;

  /* saratov */
  --xi-cyan-20: #dff4fc;
  --xi-cyan-40: #9cdef6;
  --xi-cyan-60: #6bcef1;
  --xi-cyan-100: #09aee8;
}

[data-theme='dark'] {
  /* gray */
  --xi-gray-0: #151515;
  --xi-gray-5: #1f1f1f;
  --xi-gray-10: #2a2a2a;
  --xi-gray-20: #3f3f3f;
  --xi-gray-30: #545454;
  --xi-gray-40: #696969;
  --xi-gray-50: #7e7e7e;
  --xi-gray-60: #929292;
  --xi-gray-70: #a7a7a7;
  --xi-gray-80: #bcbcbc;
  --xi-gray-90: #d1d1d1;
  --xi-gray-100: #e6e6e6;

  /* brand */
  --xi-brand-0: #21222c;
  --xi-brand-20: #393d5a;
  --xi-brand-40: #5b639d;
  --xi-brand-60: #737ecb;
  --xi-brand-80: #8b98f9;
  --xi-brand-100: #b1bafb;

  /* background */
  --xi-bkgd-main: #151515;
  --xi-bkgd-block: #1f1f1f;

  /* moscow */
  --xi-red-0: #261b1b;
  --xi-red-20: #482626;
  --xi-red-40: #793636;
  --xi-red-60: #9b4141;
  --xi-red-80: #bd4c4c;
  --xi-red-100: #e15251;

  /* ekaterinburg */
  --xi-green-0: #1b261d;
  --xi-green-20: #26482e;
  --xi-green-40: #367947;
  --xi-green-60: #419b58;
  --xi-green-80: #4cbd69;
  --xi-green-100: #51e177;

  /* kungur */
  --xi-orange-0: #271e1a;
  --xi-orange-20: #462515;
  --xi-orange-40: #7f4a30;
  --xi-orange-60: #a25c3a;
  --xi-orange-80: #c66e43;
  --xi-orange-100: #ea7d47;

  /* arkhangelsk */
  --xi-yellow-20: #262214;
  --xi-yellow-40: #5a4811;
  --xi-yellow-60: #5a4811;
  --xi-yellow-100: #c2940a;

  /* vladivostok */
  --xi-violet-20: #211827;
  --xi-violet-40: #44215f;
  --xi-violet-60: #5a2782;
  --xi-violet-100: #8933cc;

  /* volgograd */
  --xi-pink-20: #271826;
  --xi-pink-40: #5f2158;
  --xi-pink-60: #822779;
  --xi-pink-100: #cc33bd;

  /* saratov */
  --xi-cyan-20: #182327;
  --xi-cyan-40: #214f5f;
  --xi-cyan-60: #276b82;
  --xi-cyan-100: #33a4cc;
}

@theme {
  /* Шрифты */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);

  /* Типография */
  --font-h1-size: 56px;
  --font-h1-line-height: 64px;
  
  --font-h2-size: 48px;
  --font-h2-line-height: 56px;
  
  --font-h3-size: 40px;
  --font-h3-line-height: 48px;
  
  --font-h4-size: 36px;
  --font-h4-line-height: 44px;
  
  --font-h5-size: 32px;
  --font-h5-line-height: 40px;
  
  --font-h6-size: 28px;
  --font-h6-line-height: 36px;
  
  --font-xl-base-size: 24px;
  --font-xl-base-line-height: 32px;
  
  --font-l-base-size: 20px;
  --font-l-base-line-height: 28px;
  
  --font-m-base-size: 16px;
  --font-m-base-line-height: 20px;
  
  --font-s-base-size: 14px;
  --font-s-base-line-height: 20px;
  
  --font-xs-base-size: 12px;
  --font-xs-base-line-height: 16px;
  
  --font-xxs-base-size: 10px;
  --font-xxs-base-line-height: 14px;

  /* Брейкопоинты */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 720px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1680px;
  --breakpoint-3xl: 1920px;

  /* Цвета */
  /* gray */
  --color-gray-0: var(--xi-gray-0);
  --color-gray-5: var(--xi-gray-5);
  --color-gray-10: var(--xi-gray-10);
  --color-gray-20: var(--xi-gray-20);
  --color-gray-30: var(--xi-gray-30);
  --color-gray-40: var(--xi-gray-40);
  --color-gray-50: var(--xi-gray-50);
  --color-gray-60: var(--xi-gray-60);
  --color-gray-70: var(--xi-gray-70);
  --color-gray-80: var(--xi-gray-80);
  --color-gray-90: var(--xi-gray-90);
  --color-gray-100: var(--xi-gray-100);

  /* brand */
  --color-brand-0: var(--xi-brand-0);
  --color-brand-20: var(--xi-brand-20);
  --color-brand-40: var(--xi-brand-40);
  --color-brand-60: var(--xi-brand-60);
  --color-brand-80: var(--xi-brand-80);
  --color-brand-100: var(--xi-brand-100);

  /* background */
  --color-bkgd-main: var(--xi-bkgd-main);
  --color-bkgd-block: var(--xi-bkgd-block);

  /* moscow */
  --color-red-0: var(--xi-red-0);
  --color-red-20: var(--xi-red-20);
  --color-red-40: var(--xi-red-40);
  --color-red-60: var(--xi-red-60);
  --color-red-80: var(--xi-red-80);
  --color-red-100: var(--xi-red-100);

  /* ekaterinburg */
  --color-green-0: var(--xi-green-0);
  --color-green-20: var(--xi-green-20);
  --color-green-40: var(--xi-green-40);
  --color-green-60: var(--xi-green-60);
  --color-green-80: var(--xi-green-80);
  --color-green-100: var(--xi-green-100);

  /* kungur */
  --color-orange-0: var(--xi-orange-0);
  --color-orange-20: var(--xi-orange-20);
  --color-orange-40: var(--xi-orange-40);
  --color-orange-60: var(--xi-orange-60);
  --color-orange-80: var(--xi-orange-80);
  --color-orange-100: var(--xi-orange-100);

  /* arkhangelsk */
  --color-yellow-20: var(--xi-yellow-20);
  --color-yellow-40: var(--xi-yellow-40);
  --color-yellow-60: var(--xi-yellow-60);
  --color-yellow-100: var(--xi-yellow-100);

  /* vladivostok */
  --color-violet-20: var(--xi-violet-20);
  --color-violet-40: var(--xi-violet-40);
  --color-violet-60: var(--xi-violet-60);
  --color-violet-100: var(--xi-violet-100);

  /* volgograd */
  --color-pink-20: var(--xi-pink-20);
  --color-pink-40: var(--xi-pink-40);
  --color-pink-60: var(--xi-pink-60);
  --color-pink-100: var(--xi-pink-100);

  /* saratov */
  --color-cyan-20: var(--xi-cyan-20);
  --color-cyan-40: var(--xi-cyan-40);
  --color-cyan-60: var(--xi-cyan-60);
  --color-cyan-100: var(--xi-cyan-100);

  /* Анимации */
  --animation-shake: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  --animation-fade-in: fade-in 0.3s ease-in-out;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
}

::before,
::after {
  --tw-content: '';
}
