name: Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  prepare:
    uses: ./.github/workflows/common-prepare.yml

  analyze-packages:
    needs: prepare
    if: needs.prepare.outputs.packages == 'true'
    runs-on: ubuntu-latest

    env:
      filename: .github/workflows/generated-filters.yml

    outputs:
      packages: ${{ steps.package_filter.outputs.changes }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate package filters
        run: ./.github/workflows/generate-package-filters.sh
        shell: bash

      - name: Filter packages
        uses: dorny/paths-filter@v2
        id: package_filter
        with:
          filters: ${{ env.filename }}

  deploy-packages:
    needs: analyze-packages
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    environment: >-
      ${{
        contains(fromJSON('["niqzart", "unknownproperty"]'), github.triggering_actor)
        && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        && 'xi-production'
        || 'xi-production-manual'
      }}

    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJSON(needs.analyze-packages.outputs.packages) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Perform clean install
        run: npm ci
        working-directory: packages/${{ matrix.package }}

      - name: Build the package
        run: npm run build
        working-directory: packages/${{ matrix.package }}

      - name: Publish the package
        run: npm publish --access public --provenance
        working-directory: packages/${{ matrix.package }}
