name: Deploy all changed packages

on:
  workflow_call:
  workflow_dispatch:

jobs:
  analyze-packages:
    runs-on: ubuntu-latest

    env:
      filename: .github/workflows/generated-filters.yml

    outputs:
      packages: ${{ steps.package_filter.outputs.changes }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - id: script
        name: Generate package filters
        run: ./.github/workflows/generate-package-filters.sh
        shell: bash

      - name: Filter packages
        uses: dorny/paths-filter@v2
        id: package_filter
        with:
          filters: ${{ env.filename }}

  deploy-packages:
    needs: analyze-packages
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    environment: >-
      ${{
        contains(fromJSON('["niqzart", "unknownproperty"]'), github.triggering_actor)
        && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        && 'xi-production'
        || 'xi-production-manual'
      }}

    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJSON(needs.analyze-packages.outputs.packages) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
          cache: npm

      - name: Perform clean install
        run: npm ci
        working-directory: packages/${{ matrix.package }}

      - name: Build the package
        run: npm run build
        working-directory: packages/${{ matrix.package }}

      - name: Publish the package
        run: npm publish --access public
        working-directory: packages/${{ matrix.package }}
        env:
          NPM_CONFIG_PROVENANCE: "true"
