  deploy-packages:
    needs: analyze-packages
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    environment:  >-
      ${{
        contains(fromJSON('["niqzart", "unknownproperty"]'), github.triggering_actor)
        && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        && 'xi-production'
        || 'xi-production-manual'
      }}

    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJSON(needs.analyze-packages.outputs.packages) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
          cache: npm

      - name: Perform clean install
        run: npm ci
        working-directory: packages/${{ matrix.package }}
      
      - name: Build the package
        run: npm run build
        working-directory: packages/${{ matrix.package }}

      - name: Publish the package
        run: npm publish --access public
        working-directory: packages/${{ matrix.package }}
        env:
          NPM_CONFIG_PROVENANCE: "true"
